.mainPage {
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainPageInput {
    width: 400px;
    height: 40px;
    font-size: 18px;
    padding: 5px;
}

.mainPageChechbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#checkboxInput {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.captchaCodeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.captchaCode {
    background-color: lightgrey;
    margin-right: 10px;
}

.captchaReloadBtn {
    margin-left: 10px;
    border: 1px solid black;
    cursor: pointer;
} 

.messageContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
    
    border: 1px solid black;
}

.infoMessageImg {
    width: 100px;
    height: 100px;
  
}

.verifyingMessage {
    width: 200px;
    height: 80px;
}

.closeBtn {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 70px;
   border: none;
   outline-style: none;
}

.closeMessageImg {
    width: 30px;
    height: 30px;
}

