.helpPage {
    width: 80%;
    height: 100vh;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.helpPageContext{
    width: 90%;
    height: 95vh;
}

.helpPageContext h1 {
    margin: 0;
}